.navbar {
  background-color: #003300;
  font-size: 25px;
}
.navbarCustom .nav-link {
  color: #ffffff !important;
}
.navHomeButton {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff !important;
  object-fit: fill
}
.topNavbar {
  background-color: #003300;
  height: 10vh;
}
.navBarTitle {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff !important;
  font-family: 'Georgia', serif;
}
.navBarSlogan {
  font-size: 50px;
  color: #ffffff !important;
  font-family: 'Georgia', serif;
}
.navBarPunchLine{
  font-size: 50px;
  color: #ffffff !important;
  font-family: 'Georgia', serif;
  font-weight: normal;
}
.xplorrLogo {
  object-fit: fill
  width: 10vh;
  height: 10vh;
}

.homePagePhotoWrapper {
  position: relative;
  width: 100vw;
  height: 50vw;
  overflow: hidden;
}
.homePagePhotos{
  width: 100vw;
  height: 75vh;
}
.overlay-slogan {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff !important;
  font-family: 'Georgia', serif;
}
.overlay-searchbar{
  position: absolute;
  top: 10%;
  left: 40%;
}
.searchBarButton{
  background-color: #003300;
  border: #003300;
}
.overlayBackButton{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 50px !important;
  height: 50px !important;
  color: #003300;
}
.overlayFrontButton{
  position: absolute;
  top: 40%;
  right: 0%;
  width: 50px !important;
  height: 50px !important;
  color: #003300;
}
.homePageDescription{
color: #003300;
font-family: 'Georgia', serif;
}