.navbar {
  background-color: #003300;
  font-size: 25px;
}
.navbarCustom .nav-link {
  color: #ffffff !important;
}
.navHomeButton {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff !important;
  object-fit: fill
}
.topNavbar {
  background-color: #003300;
  height: 10vh;
}
.navBarTitle {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff !important;
  font-family: 'Georgia', serif;
}
.navBarSlogan {
  font-size: 50px;
  color: #ffffff !important;
  font-family: 'Georgia', serif;
}
.xplorrLogo {
  object-fit: fill
  width: 10vh;
  height: 10vh;
}

.homePagePhotoWrapper {
  position: relative;
  width: 100vw;
  height: 50vw;
  overflow: hidden;
}
.homePagePhotos{
  width: 100vw;
  height: 75vh;
}
.overlay-bottom {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff !important;
  font-family: 'Georgia', serif;
}